@import "reset";
@import "colors";
//@import "header";

.text{
  line-height: 1.5;
  color:$dark-gray;
}

/*HEADER SECTION*/
$header-hide-breakpoint: 960px;
.header--mobile{
  position: absolute;
  top: 40px;
  left: 40px;
  display: none;
  color:$white;
  width:50%;
  @media (max-width: $header-hide-breakpoint) {
    
    display:flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu-btn{
    &:hover,&:focus{
      animation: spin .350s ease-in-out;
    }
  }
}
.logo{
  font-size:1.1rem;
    font-weight: 500;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 38%;
  padding-left: 5%;
  position: absolute;
  top: 5%;
  color: $white;
  transition: all 0.350s ease-in-out;
  .header-logo{
    padding-bottom: 8px;
  }
  .close-btn {
    fill: $dark-gray;

    &:hover,
    &:focus {
      fill: $very-dark-gray;
      cursor: pointer;
    }
  }

  & > .close-btn {
    display: none;
  }

  @media (max-width: $header-hide-breakpoint) {
    background-color: $white;
    color: $black;
    top: -15%;
    width: 100%;
    padding: 5vmax 5%;
    & > .nav {
      width: 80%;
    }
    & > .close-btn {
      display: inline;
    }
    .header-logo {
      display: none;
     
    }
  }
}
.mobile-header--active {
  top: 0;
}

.header-logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: $white;
}
.nav {
  width: 70%;
}
.nav-anchors {
  display: flex;
  justify-content: space-between;
  list-style: none;
  & > li {
    border-bottom:2px solid transparent;
    padding-bottom: 8px;
  }
  & > li:hover{
    border-color: $white;
  }
}

.nav-anchor {
  @include link-reset();
  font-weight: 500;
  font-size: 0.9rem;
  color: inherit;
  @media (max-width: $header-hide-breakpoint) {
    font-weight: 700;
    font-size: 0.9rem;
    &:hover {
      color: $dark-gray;
    }
  }
}

/*****************************************************************/
$spartan-font: "Spartan", sans-serif;

@mixin img-size($w) {
  width: $w;
  height: $w / 1.57;
}

body {
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
}

.layout-wrapper {
  min-height: 100vh;
  max-width: 1700px;
  font-family: $spartan-font;
  width: 100%;
}

.flex-container {
  display: flex;
}
.article-section-wrapper {
  display: flex;

  width: 40%;
  flex-direction: column-reverse;
}

.hero-section {
  width: 60%;
  height: auto;
  background-color: hotpink;

  & > .hero-img {
    width: 100%;
    height: 100%;
  }
}

.main-article {
  flex-grow: 1;
  height: 80%;
  padding: 20% 14% 0 14%;
  @media(max-width:1300px){
    padding-top:15%;
    
  }
  & > .main-article-heading {
    font-size: 2rem;
    @media(max-width:1300px){
      font-size:1.5rem;
    }
  }
  & > .main-article-body {
    margin: 5% 0 10% 0;
    font-size: 0.9rem;
  }
  & > .main-article-action {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 5px;
    &:hover{
      color:$dark-gray;
      cursor: pointer;
    }
    &:hover > span{
      fill:$dark-gray;
    }
    &>span{
      margin-left:16px;
    }
  }
}

.controls {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.arrows {
  display: flex;
  width: 25%;
  height: 5vmax;
  //height: 100%;
}

.arrow {
  background-color: $black;
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  &:hover,
  &:focus {
    cursor: pointer;
    background-color: $very-dark-gray;
  }
}
.arrow-left {
  background-image: url("assets/images/icon-angle-left.svg");
}
.arrow-right {
  background-image: url("assets/images/icon-angle-right.svg");
}

.bottom-section {
  & > img {
    width: 100%;
    height: 100%;
  }
}
.left-bottom-section {
  width: 30%;
  
}
.central-bottom-section {
  width:40%;
  
}
.right-bottom-section {
  width: 30%;
}

.about-section{
  font-size:0.9rem;
  padding:10% ;
  .about-section-heading{
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size:1rem;
    margin-bottom:24px;
  }
  
}
@keyframes spin{
  50%{
    transform: rotate(90deg);
  }
  100%{
    transform: rotate(0deg);

  }
}